        <!-- ********************* footer ********************* -->
        <footer class="footer">
                <img src="<%= prefixe %>assets/img/logo.png" alt="" class="logo"> <!-- logo -->
                <div class="social-media"> <!-- social media links -->
                    <a href="#" class="facebook"><img src="<%= prefixe %>assets/img/social-media/facebook.svg" alt="" class="social-img"></a> <!-- facebook -->
                    <a href="#" class="instagram"><img src="<%= prefixe %>assets/img/social-media/instagram.svg" alt="" class="social-img"></a> <!-- instagram -->
                    <a href="#" class="twitter"><img src="<%= prefixe %>assets/img/social-media/twitter.svg" alt="" class="social-img"></a> <!-- twitter -->
                    <a href="#" class="youtube"><img src="<%= prefixe %>assets/img/social-media/youtube.svg" alt="" class="social-img"></a> <!--youtube -->
                </div>
                <div class="bot-menu"> <!-- bottom menu -->
                    <a href="#" class="bot-menu-item">Privacy policy</a> | 
                    <a href="#" class="bot-menu-item">Terms of use</a> |
                    <a href="#" class="bot-menu-item">Contact-us</a>
                </div>
                <p class="copyright"> <!-- copyright text -->
                    All right reserved to WATCHD.tn © 2019  -  Developped By GhasSen&YousSef
                </p>
            </footer>
        </body>
    </html>