
<%- include elements/header.ejs %>

        <!-- ********************* slider *********************-->
         <div id="slider" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
            <ul class="indicators"><!-- indicators buttons-->
                <li data-target="#slider" data-slide-to="0" class="btn-slider active" id="btn0"></li>
                <li data-target="#slider" data-slide-to="1" class="btn-slider" id="btn1"></li>
                <li data-target="#slider" data-slide-to="2" class="btn-slider" id="btn2"></li>
                <li data-target="#slider" data-slide-to="3" class="btn-slider" id="btn3"></li>
                <li data-target="#slider" data-slide-to="4" class="btn-slider" id="btn4"></li>
             </ul>
            <div class="carousel-inner"><!-- carousel items -->
                <% for (let i=0; i < carousel.length; i++) { 
                  if (i == 0) {
                %>
                <%- '<div class="carousel-item active">' %>
                <% } else { %>
                <%- '<div class="carousel-item">' %><% } %> 
                    <img src="<%= carousel[i].cover_url %>" class=" slider-img" alt="...">
                    <div class="item-content">
                        <div class="item-info">
                            <a href="/cat/<%= carousel[i].type %>"><button class="btn btn-cat btn-<%= carousel[i].type.toLowerCase() %>"><i class="icon-<%= carousel[i].type.toLowerCase() %>"></i> <%= carousel[i].type %></button></a>
                            <a href="/item/<%= carousel[i].id %>"><h1><%= carousel[i].title %></h1></a>
                            <p class="info-text">
                                <i class="icon-video genre-icon"></i> <% for (let j=0; j< carousel[i].genre.length; j++) __append(carousel[i].genre[j]+' . ')   %>
                                <i class="espace"></i><i class="icon-star review-star"></i> imdb (<%= carousel[i].rating %>/10)
                            </p>
                        </div>  
                    </div>
                  </div>
                  <% } %>
             </div>
         </div>
        </header>
        <div class="container">  
        <!-- ********************* new episodes *********************--> 
            <div class="container-item new-episodes">
                <div class="container-item-header">
                    <h3><span class="icon-hot"></span> New Episodes</h3>
                    <span class="container-item-header-right">
                        <button class="btn btn-danger btn-show-all"><i class="icon-lines"></i> Show all</button>
                        <i class="icon-previous_f"></i><i class="icon-next_f"></i>
                    </span>
                </div>
                <div class="row">
                    <% for (let i=0; i < last_episodes.length; i++) { %>
                    <div class="col episode"> <!-- episode item 1-->
                        <a href="/item/<%= last_episodes[i].id+'/'+last_episodes[i].season_ref+'/'+last_episodes[i].ep_ref %>"><div class="episode-content">
                            <h2><i class="icon-play"></i></h2>
                            <div class="episode-info">
                                <h5><%= last_episodes[i].title+' '+last_episodes[i].season_ref%><% if (last_episodes[i].type != 'Movies') __append(last_episodes[i].ep_ref); %></h5>
                                <p><%= last_episodes[i].date.getDate()+'-'+(last_episodes[i].date.getMonth()+1)+'-'+last_episodes[i].date.getFullYear(); %></p>
                            </div>
                        </div></a>
                        <figure class="episode-figure">
                            <img src="<%= last_episodes[i].img_url %>" class="episode-img"/>
                        </figure>
                    </div>
                    <% } %>
                </div>
            </div>         
            <%
                var showMeAdded = 'all';

                function setShowMeAdded (type) {
                    showMeAdded = type;
                }

                function filterAdded (type) {
                    if( showMeAdded == 'all') {
                        return '';
                    } else if( showMeAdded != type) {
                        return 'hidden';
                    }
                }
            %>
            <!-- ********************* new added *********************--> 
            <div class="container-item new-added">
                <div class="container-item-header">
                    <h3><span class="icon-calendar"></span> New Added</h3>
                    <span class="container-item-header-right">
                        <button class="btn btn-danger btn-top btn-show-all" ><i class="icon-lines"></i> All</button>
                        <button class="btn btn-primary btn-top btn-series" ><i class="icon-television"></i> Series</button>
                        <button class="btn btn-success btn-top btn-movies" ><i class="icon-movie"></i> Movies</button>
                        <button class="btn btn-top btn-anime"><i class="icon-anime" ></i> Anime</button>
                    </span>
                </div>
                <div class="row">              
                    <!-- ********************************** poster item 1 ********************************** --> 
                    <% for(let i=0; i < newAdded.length; i++) { %>      
                    <div class="col poster" <%= filterAdded(newAdded[i].type) %>>
                            <div class="poster-links">
                                <a href="/cat/<%= newAdded[i].type %>" class="btn-poster btn-<%= newAdded[i].type.toLowerCase() %>"><i class="icon-<%= newAdded[i].type.toLowerCase() %>"></i> <%= newAdded[i].type %></a><a class="btn-poster btn-<%= newAdded[i].complete %>"><%= newAdded[i].complete %></a>
                            </div>
                            <a href="/item/<%= newAdded[i].id+'/'+newAdded[i].season_ref %>"><div class="poster-content">
                            <div class="poster-info">
                                <h5><%= newAdded[i].title+' '+newAdded[i].season_ref %></h5>
                                <p>
                                    <% for(let j=0; j < 5; j++) { 
                                       if (j < (newAdded[i].rating / 2)) {%>
                                    <i class="icon-star review-star"></i>
                                    <% } else { %>
                                    <i class="icon-star review-star-off"></i>

                                    <% } } %>
                                </p>
                            </div>
                        </div> </a>
                        <figure class="poster-figure">
                                <img src="<%= newAdded[i].poster_url %>" class="poster-img"/>
                        </figure>   
                    </div> 
                    <% } %>
                </div>
            </div>                
            <!-- ********************* most watched *********************--> 
            <div class="container-item new-added">
                <div class="container-item-header">
                    <h3><span class="icon-fire"></span> Most watched</h3>
                    <span class="container-item-header-right">
                        <button class="btn btn-danger btn-top btn-show-all"><i class="icon-lines"></i> All</button>
                        <button class="btn btn-primary btn-top btn-series"><i class="icon-television"></i> Series</button>
                        <button class="btn btn-success btn-top btn-movies"><i class="icon-movie"></i> Movies</button>
                        <button class="btn btn-top btn-anime"><i class="icon-anime"></i> Anime</button>
                    </span>
                </div>
                <div class="row">              
                    <!-- ********************************** poster item 1 ********************************** --> 
                    <% for(let i=0; i < mostWatched.length; i++) { %>      
                        <div class="col poster example1">
                                <div class="poster-links">
                                    <a href="/cat/<%= mostWatched[i].type %>" class="btn-poster btn-<%= mostWatched[i].type.toLowerCase() %>"><i class="icon-<%= mostWatched[i].type.toLowerCase() %>"></i> <%= mostWatched[i].type %></a><a class="btn-poster btn-<%= mostWatched[i].complete %>"><%= mostWatched[i].complete %></a>
                                </div>
                                <a href="/item/<%= mostWatched[i].id %>"><div class="poster-content">
                                <div class="poster-info">
                                    <h5><%= mostWatched[i].title %></h5>
                                    <p>
                                        <% for(let j=0; j < 5; j++) { 
                                           if (j < (mostWatched[i].rating / 2)) {%>
                                        <i class="icon-star review-star"></i>
                                        <% } else { %>
                                        <i class="icon-star review-star-off"></i>
    
                                        <% } } %>
                                    </p>
                                </div>
                            </div> </a>
                            <figure class="poster-figure">
                                    <img src="<%= mostWatched[i].poster_url %>" class="poster-img"/>
                            </figure>   
                        </div> 
                        <% } %>
                </div>
            </div>  
            
            
        </div> 

<%- include elements/footer.ejs %>