<%- include elements/header.ejs %>
<div class="cover">
        <div class="cover-item"> <!-- single item 0 -->
            <img src="../<%= item.cover_url %>" class=" slider-img" alt="...">
            <div class=" item-content">
                <div class=" item-info item-cover-info">
                    <a href="#"><button class="btn btn-cat btn-<%= item.type.toLowerCase() %>"><i class="icon-television"></i> <%= item.type %></button></a>
                    <h1 class="cover-title"><%= item.title %></h1>
                    <p class="cover-info"><%= item.desc %></p>
                    <p class="cover-info cover-info-details">
                        <span>Runtime: </span><%= item.runtime+' min' %>
                        <br><span> Genre: </span><% for (let i=0; i < item.genre.length; i++) __append(item.genre[i]+' . '); %>
                        <br><span>Actors: </span><% for (let i=0; i < item.actor.length; i++) __append(item.actor[i]+', '); %>
                        <br><span>Rating: </span> <i class="icon-star review-star"></i> imdb (<%= item.rating %>/10)
                        <% if (item.type != 'Movies'){ %><br><span>Seasons: </span><%= seasons.length %><% }%>
                        <br><span>Released: </span><%= item.released %><% if (item.type != 'Movies') __append(' - '); if ((item.finish != 0)&&(item.finish != 1)) __append(item.finish); %>
                        <br><span>Language: </span><%= item.language %>
                    </p>
                </div>
                <div class=" item-buttons">
                    <button class="btn btn-danger btn-cover btn-watch"><i class="icon-desktop"></i> Watch trailer</button>
                    <br><button class="btn btn-dark btn-cover btn-add"><i class="icon-plus"></i> Add to a list</button>
                </div>
            </div>
          </div>
        </div>
        </header>
        <div class="container">  
        <!-- ********************* new episodes *********************--> 
        <div class="container-item new-episodes">
            <div class="container-item-header">
                <h3><span class="icon-hot"></span><% if (item.type != 'Movies') __append(' Latest episodes'); else __append(' Watch Movie'); %></h3>
                <span class="container-item-header-right">
                    <button class="btn btn-danger btn-show-all"><i class="icon-lines"></i> Show all</button>
                    <i class="icon-previous_f"></i><i class="icon-next_f"></i>
                </span>
            </div>
            <div class="row">
                <% for (let i=0; i < episodes.length; i++) { %>
                <div class="col episode"> <!-- episode item 1-->
                    <a href="/item/<%= episodes[i].id+'/'+episodes[i].season_ref+'/'+episodes[i].ep_ref %>"><div class="episode-content">
                        <h2><i class="icon-play"></i></h2>
                        <div class="episode-info">
                            <h5><%= episodes[i].title+' '+episodes[i].season_ref%><% if (episodes[i].type != 'Movies') __append(episodes[i].ep_ref); %></h5>
                            <p><%= episodes[i].date.getDate()+'-'+(episodes[i].date.getMonth()+1)+'-'+episodes[i].date.getFullYear(); %></p>
                        </div>
                    </div></a>
                    <figure class="episode-figure">
                        <img src="../<%= episodes[i].img_url %>" class="episode-img"/>
                    </figure>
                </div>
                <% } %>                
        </div>            
        <!-- ********************* seasons *********************--> 
        <div class="container-item new-added">
            <div class="container-item-header">
                <h3><span class="icon-video"></span><% if (item.type != 'Movies') __append(' Seasons'); else __append(' Releases'); %></h3>
            </div>
            <div class="row">              
                <!-- ********************************** poster item 1 ********************************** -->       
                <% for(let i=0; i < seasons.length; i++) { %>      
                    <div class="col poster example1">
                        <div class="poster-links">
                            <a href="#" class="btn-poster btn-<%= seasons[i].type.toLowerCase() %>"><i class="icon-television"></i> <%= seasons[i].type %></a><a class="btn-poster btn-<%= seasons[i].complete %>"><%= seasons[i].complete %></a>
                        </div>
                        <a href="/item/<%= seasons[i].id+'/'+seasons[i].season_ref %>"><div class="poster-content">
                        <div class="poster-info">
                            <h5><%= seasons[i].title+' '+seasons[i].season_ref %></h5>
                            <p>
                                <% for(let j=0; j < 5; j++) { 
                                   if (j < (seasons[i].rating / 2)) {%>
                                    <i class="icon-star review-star"></i>
                                    <% } else { %>
                                    <i class="icon-star review-star-off"></i>

                                <% } } %>
                            </p>
                        </div>
                    </div> </a>
                    <figure class="poster-figure">
                            <img src="../<%= seasons[i].poster_url %>" class="poster-img"/>
                    </figure>   
                </div> 
                <% } %> 
            </div>
        </div>                
        <!-- ********************* related *********************--> 
        <div class="container-item new-added">
            <div class="container-item-header">
                <h3><span class="icon-event"></span> Related</h3>
            </div>
            <div class="row">              
                <!-- ********************************** poster item 1 ********************************** -->       
                <% for(let i=0; i < related.length; i++) { %>      
                    <div class="col poster example1">
                        <div class="poster-links">
                            <a href="#" class="btn-poster btn-<%= related[i].type.toLowerCase() %>"><i class="icon-television"></i> <%= related[i].type %></a><a class="btn-poster btn-<%= related[i].complete %>"><%= related[i].complete %></a>
                        </div>
                        <a href="/item/<%= related[i].id %>"><div class="poster-content">
                        <div class="poster-info">
                            <h5><%= related[i].title %></h5>
                            <p>
                                <% for(let j=0; j < 5; j++) { 
                                   if (j < (related[i].rating / 2)) {%>
                                    <i class="icon-star review-star"></i>
                                    <% } else { %>
                                    <i class="icon-star review-star-off"></i>

                                <% } } %>
                            </p>
                        </div>
                    </div> </a>
                    <figure class="poster-figure">
                            <img src="../<%= related[i].poster_url %>" class="poster-img"/>
                    </figure>   
                </div> 
                <% } %> 
            </div>
        </div>  
        </div> 
    </div> 
<%- include elements/footer.ejs %>